.timer{
    circle{
        stroke-dasharray: 115;
        animation: countdown 16s linear forwards;
    }
   
}

@keyframes countdown {
  0% {
    stroke-dashoffset: 0px;
    stroke: green
  }
  15%{
      stroke: green;
  }
  33%{
      stroke: orange;
  }
  45%{
      stroke: orange;
  }
  66%{
      stroke: red;
  }
  100% {
      stroke: red;
    stroke-dashoffset: 113px;
    stroke: rgb(42, 34, 34)(34, 28, 28);
  }
}

  .easy{
    color: green;
  }

  .medium{
    color: orange;
  }

  .hard{
    color: red;
  }