@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

body{
    font-family: 'Mooli', sans-serif;
    height: 100vh;

    #root{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.form-field{
    display: flex;
    flex-direction: column;

    label{
        margin-bottom: 10px;
    }
}

.correct{
    color: green;
}

.incorrect{
    color: red;
}

.timer{
    circle{
        stroke-dasharray: 115;
        animation: countdown 16s linear forwards;
    }
   
}

@keyframes countdown {
    0% {
      stroke-dashoffset: 0px;
      stroke: green
    }
    40%{
        stroke: green;
    }
    70%{
        stroke: red;
    }
    100% {
      stroke-dashoffset: 113px;
      stroke: red;
    }
  }